@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
	/* Primary Color */
	--primary-red: hsl(7, 99%, 70%);
	--primary-yellow: hsl(51, 100%, 49%);
	--primary-desaturated-cyan: hsl(167, 40%, 24%);
	--primary-dark-blue: hsl(198, 62%, 26%);
	--primary-moderate-cyan: hsl(168, 34%, 41%);

	/* Neutral Color */
	--neutral-desaturated-blue: hsl(212, 27%, 19%);
	--neutral-grayish-blue-700: hsl(213, 9%, 39%);
	--neutral-grayish-blue-400: hsl(232, 10%, 55%);
	--neutral-grayish-blue-100: hsl(210, 4%, 67%);
	--neutral-white: hsl(0, 0%, 100%);

	/* Font family */
	--ff-100: "Barlow", sans-serif;
	--ff-200: "Fraunces", serif;

	/* Font size */
	--fs-18: 1.125rem;
}

a {
	text-decoration: none;
	color: #000;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: hsl(210, 4%, 67%, 0.1);
	font-family: var(--ff-200);
	font-size: var(--fs-18);
	min-height: 100vh;
	width: 100vw;
}

main,
footer.footer,
.header {
	width: 23.4375rem;
}

.testimonial__paragraph,
.image__paragraph,
.about__paragraph {
	font-family: var(--ff-100);
}

/* Utilities */
.text-uppercase {
	text-transform: uppercase;
}

.image--mobile,
.image--desktop {
	width: 100%;
	height: auto;
}

.image--desktop {
	display: none;
}

.d-flexible {
	display: none;
}

/* Component CSS */

/* Header */
.header {
	height: 33.625rem;
	background: url(../images/mobile/image-header.jpg) no-repeat center;
	background-size: cover;
	position: relative;
}

.header__nav {
	width: 100%;
	height: fit-content;
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 1.75rem;
}

.nav__link {
	width: 20.4375rem;
	aspect-ratio: 1/0.93;
	height: fit-content;
	background-color: var(--neutral-white);
	align-items: center;
	justify-content: center;
	font-family: var(--ff-100);
	font-size: 1.25rem;
	line-height: 1.5625rem;
}

.nav--active::before {
	content: "";
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	top: -3%;
	right: 0;
	background-color: transparent;
	border-top: 12px solid transparent;
	border-left: 12px solid transparent;
	border-bottom: 12px solid var(--neutral-white);
	border-right: 12px solid var(--neutral-white);
}

.nav--active {
	display: flex;
	z-index: 10000;
	position: absolute;
	top: 40%;
	left: 40%;
	transform: translate(-40%, -40%);
}

.nav__link__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	padding: 0;
	margin: 0;
}

.nav__link__list a {
	color: var(--neutral-grayish-blue-400);
}

.nav__link__list .btn.btn--color {
	font-size: 0.9375rem;
	font-family: var(--ff-200);
	color: #000;
	background-color: var(--primary-yellow);
}

.nav__link__list .btn {
	padding: 1rem 1.75rem;
	border-radius: 1.5rem;
	background-color: transparent;
}

.nav__hamburger:hover {
	cursor: pointer;
}

.header__intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--neutral-white);
	gap: 2.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header__heading {
	font-size: 2.5rem;
}

/* About Section */

section.about {
	width: 100%;
	text-align: center;
}

.grid__about {
	width: 100%;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-areas:
		"one"
		"two"
		"three"
		"four"
		"five"
		"six";
}

/* Grid Areas */
.grid__image-1 {
	grid-area: one;
}

.grid__text-1 {
	grid-area: two;
}

.grid__image-2 {
	grid-area: three;
}

.grid__text-2 {
	grid-area: four;
}

.grid__image-3 {
	grid-area: five;
}

.grid__image-4 {
	grid-area: six;
}

.grid__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.75rem;
	gap: 2rem;
}

.about__heading {
	font-size: 2rem;
	font-weight: 900;
}

.about__paragraph {
	color: var(--neutral-grayish-blue-400);
}

.image__link {
	width: fit-content;
	font-size: 0.9375rem;
	line-height: 1.5625rem;
	position: relative;
}

.image__link::after {
	position: absolute;
	content: "";
	width: 6rem;
	height: 0.625rem;
	border-radius: 1.5rem;
	z-index: -1;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.image__link--yellow::after {
	background-color: hsl(51, 100%, 49%, 0.5);
}

.image__link--yellow:hover::after {
	background-color: var(--primary-yellow);
}

.image__link--red::after {
	background-color: hsl(7, 99%, 70%, 0.5);
}

.image__link--red:hover::after {
	background-color: var(--primary-red);
}

.grid__image--relative {
	position: relative;
}

.image__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.25rem;
	gap: 2rem;
	position: absolute;
	bottom: 5%;
}

.image__heading {
	font-size: 1.75rem;
	font-weight: 900;
	color: var(--primary-desaturated-cyan);
}

.image__paragraph {
	font-size: 1rem;
	color: var(--primary-desaturated-cyan);
	line-height: 1.6875rem;
}

/* Testimonial Section */
section.testimonial {
	width: 100%;
	text-align: center;
	display: grid;
	place-content: center;
}

.testimonial__heading {
	font-size: 1rem;
	margin-top: 3rem;
	letter-spacing: 0.4rem;
	color: var(--neutral-grayish-blue-100);
}

.grid__testimonial {
	width: 100%;
	display: grid;
	grid-auto-columns: 1fr;
	gap: 2.5rem;
	grid-template-areas:
		"testimonial-1"
		"testimonial-2"
		"testimonial-3";
}

/* Grid Areas */
.testimonial:nth-of-type(1) {
	grid-area: testimonial-1;
}

.testimonial:nth-of-type(2) {
	grid-area: testimonial-2;
}

.testimonial:nth-of-type(3) {
	grid-area: testimonial-3;
}

.testimonial {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.75rem;
	gap: 1.5rem;
	color: var(--neutral-desaturated-blue);
}

.testimonital__picture {
	border-radius: 50%;
}

.testimonial__paragraph {
	color: var(--neutral-grayish-blue-700);
	font-size: 1.125rem;
	line-height: 2rem;
	font-weight: 600;
}

.testimonial__info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.testimonial__info .testimonial__name {
	font-size: 1.125rem;
}

.testimonial__info .testimonial__position {
	font-family: var(--ff-100);
	font-size: 0.875rem;
	color: var(--neutral-grayish-blue-100);
}

/* Product */
section.product {
	width: 100%;
	display: grid;
	margin-top: 5rem;
	grid-auto-columns: 1fr;
	grid-template-areas:
		"product-1 product-2"
		"product-3 product-4";
}

/* Grid Areas */
.product-1 {
	grid-area: product-1;
}

.product-2 {
	grid-area: product-2;
}

.product-3 {
	grid-area: product-3;
}

.product-4 {
	grid-area: product-4;
}

/* Footer */
footer.footer {
	height: 21.875rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #90d4c6;
	padding: 2rem;
	gap: 2rem;
	color: var(--neutral-grayish-blue-100);
}

.footer__link {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--ff-100);
	font-size: 1.125rem;
	line-height: 1.5625rem;
	gap: 3rem;
}

.footer__link > * {
	color: var(--primary-moderate-cyan);
}

.footer__link > *:hover {
	color: var(--neutral-white);
}

.footer__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3.5rem;
	gap: 2rem;
}

.footer__icon .icon:hover {
	cursor: pointer;
	fill: var(--neutral-white);
}

/* Media Queries */
/* Laptop */
@media only screen and (min-width: 75rem) {
	main,
	footer.footer,
	.header {
		width: 100%;
	}

	.image--mobile {
		display: none;
	}

	.image--desktop {
		display: block;
	}

	/* Header */
	.header {
		height: 50rem;
		background: url(../images/desktop/image-header.jpg) no-repeat center center;
		background-size: cover;
	}

	.header__nav {
		padding: 2rem 4rem;
	}

	.nav__hamburger {
		display: none;
	}

	.d-flexible {
		display: flex;
	}

	.nav__link {
		width: fit-content;
		aspect-ratio: 0;
		background-color: transparent;
	}

	.nav__link__list {
		flex-direction: row;
	}

	.nav__link__list a {
		color: var(--neutral-white);
	}

	.nav__link__list .btn.btn--color {
		background-color: var(--neutral-white);
	}

	.nav__link__list .btn:hover {
		background-color: hsl(0, 0%, 100%, 0.3);
	}

	.btn.btn--color:hover {
		color: var(--neutral-white);
	}

	.header__intro {
		gap: 5rem;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -40%);
	}

	.header__heading {
		font-size: 3.5rem;
	}

	/* About */
	.grid__about {
		grid-template-areas:
			"two one"
			"three four"
			"five six";
	}

	/* Testimonial */
	section.testimonial {
		padding: 7rem;
		gap: 6rem;
	}

	.testimonial__heading {
		font-size: 1.25rem;
	}

	.grid__testimonial {
		grid-template-areas: "testimonial-1 testimonial-2 testimonial-3";
	}

	.grid__text {
		text-align: left;
		align-items: flex-start;
		padding: 6rem;
	}

	.about__heading {
		font-size: 2.5rem;
	}

	/* Product */
	section.product {
		grid-template-areas: "product-1 product-2 product-3 product-4";
	}

	.image__content {
		padding-inline: 25%;
	}
}
